*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

html { 
    background-image: url(images/Topo2.svg); 
    background-size: cover;
    background-size: cover;
    background-size: cover;
    background-size: cover;
}

.backgroud{
   height: 100%;
}

.flex{
    display: flex;
    
}



#spacer{
    padding-top: 16px;
}

.title{
    height: 200px;
    margin-top: 0;
    text-align: left;
    padding-top: 32px;
    padding-left: 64px;
    font-size: 24px;
    color:black;
}


label{
    margin-left: 0;
}

button{
    border-radius: 24px !important;
    
}

/* body{
  
} */


.carousel{
    height: 700px !important;
}

#playlist-image{
    width: 400px !important;
    /* height: 300px !important; */
    padding-left: 48px;
    padding-right: 32px;
}

#playlist-name-title{
    text-align: left;
    padding-left: 48px;
    padding-top: 16px;
}

#car-container{
    display:flex;
   
}

h6{
    width: 100%;
}

#playlist-info{
    text-align: left;
}

#tracks{
    text-align: left;
}

#car-height{
    height: 575px;
    width: 100%;
    margin: 0;
    overflow: visible;
}

.indicators{
   padding: 0;
   position:absolute;
   top:70%;
}

ul.dropdown-content.select-dropdown li span {
    color: black; /* no need for !important :) */
}

.select-dropdown li span {
    color: rgb(6, 26, 34); /* no need for !important :) */
}

.select-dropdown{
    color: black;
}
